################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/LightPlayer/Player/bin/Debug/netstandard2.0
/LightPlayer/Player/obj
/LightPlayer/Player.Android/bin/Debug
/LightPlayer/Player.Android/obj
